# pg_hba.conf — managed by Ansible
# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Local connections
local   all             postgres                                peer
local   all             all                                     peer

# IPv4 local connections
host    all             all             127.0.0.1/32            md5

# IPv6 local connections
host    all             all             ::1/128                 md5

# Application user
host    {{ postgresql_db_name }}   {{ postgresql_db_user }}   127.0.0.1/32   md5
