[defaults]
inventory          = inventories/lab/hosts.yml
private_key_file   = ~/.ssh/id_ansible
remote_user        = vagrant
host_key_checking  = False
retry_files_enabled = False
roles_path = roles 

[ssh_connection]
pipelining         = True
