server {
    listen {{ nginx_port }};
    server_name {{ nginx_server_name }};

    root {{ nginx_web_root }};
    index index.html;

    access_log /var/log/nginx/{{ nginx_vhost_name }}_access.log;
    error_log  /var/log/nginx/{{ nginx_vhost_name }}_error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}
