---
# Copy this file to secrets.yml and encrypt it with ansible-vault
#
# 1. Copy:
#    cp vault/secrets.yml.example vault/secrets.yml
#
# 2. Edit with your own passwords:
#    nano vault/secrets.yml
#
# 3. Encrypt:
#    ansible-vault encrypt vault/secrets.yml
#
# To run playbooks after encryption:
#    ansible-playbook playbooks/database.yml --ask-vault-pass

vault_postgresql_db_password: "ChangeMe123!"
